Repository l2ysho/shmack: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

.lintstagedrc:

{
    "*.{ts,tsx,js,json,yaml,md}": ["prettier --write --ignore-unknown"],
    "*.{ts,tsx}": ["eslint"]
}

fix: Typo in pre-push hook
  .husky/pre-push
Due: none

chore: add commitlint hook
  .eslintignore
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add commitizen to repo
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(commitizen): add commitizen to repo
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add prettier
  .eslintrc.json
  .gitignore
  .prettierignore
  .prettierrc.json
  src/index.ts
Due: prettier --write --ignore-unknown, eslint

feat: add first version of script
  .prettierrc.json
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/template/configs/commitlint.config.js
  src/template/configs/tsconfig.json
  src/template/dotFileConfigs/eslintignore
  src/template/dotFileConfigs/eslintrc.json
  src/template/dotFileConfigs/gitignore
  src/template/dotFileConfigs/lintstagedrc
  src/template/dotFileConfigs/npmrc
  src/template/dotFileConfigs/prettierignore
  src/template/dotFileConfigs/prettierrc.json
  src/template/src/index.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint

chore: update package.json
  package.json
Due: prettier --write --ignore-unknown

chore: add dist folder
  dist/index.js
  dist/index.js.map
  dist/template/configs/commitlint.config.js
  dist/template/configs/tsconfig.json
  dist/template/dotFileConfigs/eslintignore
  dist/template/dotFileConfigs/eslintrc.json
  dist/template/dotFileConfigs/gitignore
  dist/template/dotFileConfigs/lintstagedrc
  dist/template/dotFileConfigs/npmrc
  dist/template/dotFileConfigs/prettierignore
  dist/template/dotFileConfigs/prettierrc.json
  dist/template/src/index.js
  dist/template/src/index.js.map
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

0.0.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add shebang
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: prettier --write --ignore-unknown, eslint

0.0.3
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: add package.json template
  package-lock.json
  src/index.ts
  src/template/src/package.json
Due: prettier --write --ignore-unknown, eslint

0.0.4
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown
